$bg-color: #0d1117;
$card-bg: rgba(255, 255, 255, 0.07);
$border-color: rgba(255, 255, 255, 0.15);
$accent: var(--theme-color);
$hover-accent: var(--theme-color-hover);
$white: #ffffff;
$shadow-dark: rgba(0, 0, 0, 0.4);
$circle-size: 70px;

.yearSelect {
  padding: 14px 16px;
  font-size: 1rem;
  font-weight: 600;
  color: $white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: $border-color;
  transition:
  background 0.3s ease,
  transform 0.2s ease;
  text-align: center;
  font-family: Alliance;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background: $hover-accent;
  }

  &:disabled {
    background: rgba(255, 255, 255, 0.2);
    cursor: not-allowed;
  }
}
